* {
    margin: 0%;
    padding: 0%;
    font-family: rb_r;
    font-family: rb_b;
}

@font-face {
    font-family: rb_r;
    src: url(Regular.ttf);
}

@font-face {
    font-family: rb_b;
    src: url(Bold.ttf);
}

body {
    background-color: #EFEAE1;
}

.title{
    text-align: center;
    margin-top: 30px;
    color: #ff9f2e;
}

.sup-title{
    text-align: center;
    color: #fe3a7c;
    font-size: 18px;
    margin-bottom: 25px;
}

div{
    display: flex;
    flex-direction: column;
    align-items: center;
}

canvas {
    margin-bottom: 3px;
    width: 90%;
    margin-top: 15px;
    border-radius: 20px;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

input {
    margin-top: 25px;
    width: 50%;
    height: 28px;
    border-radius: 7px;
    border: solid 3px #ff9f2e;
    text-align: center;
    color: #ff9f2e;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;

}

div > a {
    background-color: white;
    color: #fe3a7c;
    margin-top: 20px;
    text-align: center;
    width: 100px;
    height: 30px;
    border-radius: 10px;
    text-decoration: none;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

footer {
    background-color: #fe3a7c;
    margin-top: 25px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-radius: 25px 25px 0px 0px;
}

i {
    color: #ff9f2e;
    padding: 15px;
    font-size: 20px;
}